@keyframes slide-up-fade-in {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes highlightFlash {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.6);
    transform: scale(1.02);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 255, 255, 0);
    transform: scale(1);
  }
}
