@import "./styles/animations.css";
@import "./styles/modal.css";
@import "./styles/forms.css";
@import "./styles/components.css";
@import "./styles/layout.css";
@import "./styles/responsive.css";

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&family=Raleway:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
html {
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 1.5;
  color: #defaf8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 1rem;
  background: linear-gradient(180deg, #1f1c2c 0%, #1f1c2c 100%);
}

.error {
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #f4c7c7;
  color: #3e0505;
}
.center {
  text-align: center;
}
